body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:286px;
}
#u21135 {
  position:absolute;
  left:26px;
  top:77px;
  width:851px;
  height:286px;
}
#u21136 {
  position:absolute;
  left:2px;
  top:135px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
